@import '../../styles/variables';

.main-area{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1200px;
  height: 100vh;
  padding-top: 65px;
  margin: 0 auto;
  background-color: #d2d2d2;
  overflow-x: hidden;
  overflow-y: auto;
}

@include scrollStyle;