$almost-black: #1C1C1C;

@mixin scrollStyle {
  ::-webkit-scrollbar {
    width: 3px;
    height: 6px;
  }

  ::-webkit-scrollbar-track-piece {
    width: 2px;
    background-color: transparent;
    border-right: 1px solid white;
    border-left: 4px solid white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $almost-black;
    border-radius: 4px;
  }
}

@mixin button-reset {
  padding: 0;
  color: inherit;
  font: inherit;
  font-family: SF UI Text, sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}